/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*OMAA TYYLIÄ*/

/*headeri*/

#headeri{
	background-color: #ccff99;
	border-bottom: 1px solid grey;
	padding-bottom: 20px;
	padding-top: 10px;
	margin-top: -10px;
}
#infoIkoni a{
	text-decoration: none;
	color: #00ace6;
}
#infoIkoni p{
	margin-top: -8px;
	margin-left: 20px;
	font-weight: bold;
	color: #00ace6;
	
}
#infoOtsikko{
	background-color: red;
	color: white;
}
#infoText{
	font-size: 25px;
}
#logo{
	text-align: center;
}
#logo img{
	width: 250px;
	height: 270px;
}
#kieliValikko{
	width: 80px;
	float: right;
}

#infoModaali h1{
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 26px;
}
#modaalisulkuNappi{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

/*FOOTTERI*/
.footer-copyright{
	text-align: center;
}

/*TAUSTA ASETUKSET*/
#taustaKuva{
	background-image: url("../kuvat/testitausta.png");
	height: auto;
    max-width: 100%;
	z-index: -1;
	background-repeat-x: no-repeat;
}
#sisalto{
	background-color: blue;
	padding: 10px;
}


/*ALOITUS SIVU*/

/*content viikonpäivälista*/

#ma,#ti,#ke,#to,#pe{
	padding-bottom: 10px;
	margin-top: 10px;
	min-width: 310px;
	padding-right: 0;
	padding-left: 0;
}
.paivays{
	color: white;
	font-size: 20px;
	text-align: right;
	margin-top: 5px;
}
.hinta{
	font-size: 22px;
	font-weight: bold;
	color: white;
	text-align: right;
	margin-top: 20px;
}
.vkpNimi{
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin-top: 5px;
}
#viikonpaivaLista{
	max-width: 100%;
}
.korttiOtsikko{
	padding: 10px;
	height: 40px;
}
.korttiSisalto{
	height: 140px;
}
.valittuAteria{
	margin-top: 10px;
	font-size: 24px;
	color: white;
}
.aterianValintaNappi{
	width: 170px;
	margin-top: 20px;
}

/*content tilaustiedot*/

#tilausTiedot{
	margin-top: 20px;
	max-width: 100%;
	padding-left: 25px;
}
#sisalto{
	margin: auto;
	max-width: 800px;
	background-color: #4d4d4d;
}
#hintaYht{
	text-align: center;
	color:white;
}
#hintaYht h4{
	font-size: 198%;
}

/*inputtikenttien muokkaus*/

/* label color */
   .input-field label {
     color: grey;
	 font-size: 35px;
	 margin-top: -22px;
	 box-shadow: none;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
	 box-shadow: none;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
	 color: white;
     box-shadow: 0 1px 0 0 #000;
	 font-size: 20px;
	 box-shadow: none;
   }
   /* valid color */
   .input-field input[type=text].valid {
	 font-size: 20px;
	 color: #0099e6;
	 box-shadow: none;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
	 color: red;
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 #000;
	 box-shadow: none;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     box-shadow: none;
   }
   
#etuNimi, #sukuNimi, #puhelin, #osoite{
	margin-top: 30px;
}

/*tilauspainikkeen tyylit*/

#tilausPainike{
	width: 200px;
	height: 60px;
	font-size: 18px;
}

/*ATERIAVALIKKO SIVU*/

#ateriaPalkki{
	width: 100%;
}
.collapsible-header{
	height: 100px;
	font-size: 40px;
	padding-top: 32px;
	color: white;
}
.ateriaLista{
	padding-top: 10px;
	margin-left: -20px;
}
.ateria{
	height: 550px;
}
.ateriaKuva img{
	width: 100%;
	padding-right: 10px;
	padding-bottom: 30px;
}
.ateriaNimi{
	font-size: 40px;
}
.ateriaTeksti{
	font-size: 20px;
	height: 130px;
	overflow-y: auto;
	border-bottom: 1px dotted grey;
}
.ateriaHinta{
	text-align: right;
	font-size: 40px;
}
.ateriaValitseNappi{
	float: right;
	width: 170px;
}
.erikoisRv{
	margin-right: 10px;
	background-color: #80ff00;
	width: 170px;
	text-align: center;
	font-size: 20px;
	padding: 6px;
	font-weight: bold;
	color: white;
	border-radius: 5px;
}
/*ateriavalikon yläpalkki*/
#ateriaYlaValikko h1{
	text-align: center;
	color: #00ace6;
}
.ateriaHakuNappi{
	margin-top: 10px;
	width: 70px;
	height: 40px;
	padding-top: 2px;
}
.takaisinNappi{
	height: 50px;
	width: 100px;
	margin-left: 10px;
	padding-top: 5px;
	font-size: 110%;
}

#ateriaFiltteri{
	border-bottom: 1px solid grey;
	padding: 10px;
}
#ateriaFiltteri h1{
	font-size: 160%;
	color: grey;
}
#filtteriAteria{
	height: 20px;
}

/*ruokalajikategorioiden ulkonäkö*/
#liha{
	background-color: #ff6666;
}
#kala{
	background-color: #4da6ff;
}
#kana{
	background-color: #ffcc66;
}
#kasvis{
	background-color: #c4ff4d;
}



/*TILAUSVAHVISTUS SIVU*/
#loppuSivu{
	padding: 10px;
}
#loppuSivu table{
	background-color: white;
}
#loppuSivu th{
	font-size: 18px;
}
#loppuOtsikko{
	width: 100%;
	color: #66ccff;
}
#loppuText1{
	font-size: 200%;
	color:white;
}
#loppuKuva{
	float: right;
	width: 200px;
	margin-top: -200px;
}

/*BREAKPOINTIT*/

/*Breakpointti, kun ruudun leveys alle 768px*/
@Media only screen and (max-width: 768px){
	#hintaYht h4{
		font-size: 23px;
	}
}
/*Breakpointti, kun ruudun leveys alle 680px*/
@Media only screen and (max-width: 680px){
	.ateria{
		height: 510px;
	}
}
/*Breakpointti, kun ruudun leveys alle 600px*/
@Media only screen and (max-width: 600px){
	#hintaYht h4{
		font-size: 30px;
	}
	.ateriaKuva1{
		display: none;
	}
	.ateria{
		height: 490px;
	}
	.ateriaHinta, .ateriaNappi{
		margin-top: -8px;
	}
}

/*TESTIPALKIN PIILOTUS*/
#testiPalkki{
	display: none;
}

/*TESTAUS*/
#etuSivu{
	
}
#ateriaValikko{
	display: none;
}
#loppuSivu{
	display: none;
}
.filtteriAteria{ 
	display: none;
}
#ateriaFiltteriForm{
	display: none;
}
#ateriaFiltteri{
	display: none;
}
